/*header开始*/
header{
	width: 100%;
}
header #head{
	width: 100%;
	height: 32px;
	background: #f7f7f7;
	border-bottom: 1px solid #cccccc;
	line-height: 32px;
}
header #head #head_con{
	width: 1200px;
	height: 32px;
	background: #f7f7f7;
	margin: 0 auto;
	font-size: 12px;
	color: #808080;
	text-align: right;
}
header #head #head_con .welcome{
	margin-right: 10px;
	vertical-align: middle;
}
header #head #head_con .welcome b{
	font-weight: normal;
}
header #head #head_con a{
	color: #808080;
	vertical-align: middle;
}
header #head #head_con .line{
	margin: 0 10px;
	vertical-align: middle;
}
header #head #head_con #dingdan{
	margin-left: 10px;
	vertical-align: middle;
}
header #head #head_con #dingdan:hover{
	color: #a10000;
}
header #head #head_con #notice{
	display: inline-block;
	margin: 0 10px;
	width: 70px;
	height: 32px;
	text-indent: 15px;
	background: url(../img/notice.png) left center no-repeat;
	background-size: 16px;
	vertical-align: middle;
	cursor: pointer;
}
header #head #head_con #notice:hover{
	color: #a10000;
}
header #head #head_con img{
	width: 18px;
	height: 18px;
	vertical-align: middle;
}
header #head #head_con #wx{
	position: relative;
}
header #head #head_con #wx #wx_hover{
	position: absolute;
	display: block;
	z-index: 9;
	width: 147px;
	height: 168px;
	right: 5px;
	top: 22px;
	border: 1px solid #e5e5e5;
	display: none;
}
header #head #head_con #wx:hover #wx_hover{
	display: block;
}

header #header{
	width: 1200px;
	margin: 0 auto;
}
header #header #search{
	width: 1200px;
	height: 30px;
	text-align: right;
	padding-top: 28px;
	position: relative;
}
header #header #search input[type='text']{
	width: 259px;
	height: 27px;
	border: 1px solid #c9caca;
	font-size: 12px;
	color: black;
	text-indent: 5px;
}
header #header #search .searchBtn{
	float: right;
	display: block;
	width: 49px;
	height: 29px;
	margin-left: -6px;
	background: url(../img/FKsprite.png) no-repeat -99px 0;
}
header #header #search .gwc{
	float: right;
	display: block;
	width: 90px;
	height: 27px;
	background: url(../img/FKsprite.png) no-repeat -153px 0;
	font-size: 12px;
	color: white;
	border: 1px solid #c1383e;
	padding-right: 15px;
	text-align: right;
	line-height: 27px;
	margin-left: 20px;
}
header #header #search .goods{
	width: 300px;
	height: auto;
	background: white;
	border: 1px solid #a10000;
	text-align: left;
	font-size: 12px;
	color: #333333;
	position: absolute;
	right: 0;
	top: 55px;
}


header #header #hotSearch{
	width: 1180px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	font-size: 12px;
	color: #727171;
	padding-right: 20px;
}
header #header #hotSearch a{
	color: #727171;
	margin: 0 4px;
}
header #header #nav{
	width: 1200px;
	height: 46px;
	display: flex;
	justify-content: space-between;
}
header #header #nav #logo,header #header #nav #logo img{
	width: 185px;
	height: 46px;
}
header #header #nav #naver{
	width: 990px;
	height: 46px;
}
header #header #nav #naver ul{
	width: 990px;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}
header #header #nav #naver ul li{
	float: left;
	width: 98px;
	height: 46px;
	font-size: 16px;
	text-align: center;
	line-height: 46px;
	position: relative;
}
header #header #nav #naver ul li p{
	width: 25px;
	height: 13px;
	position: absolute;
	left: 55px;
	top: -15px;
}
header #header #nav #naver ul li a{
	display: block;
	width: 98px;
	height: 46px;
	color: #727171;
}
header #header #nav #naver ul li span{
	display: block;
	float: left;
	width: 1px;
	height: 16px;
	background: #888888;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -8px;
}

header #header #nav #naver ul li .li_hover{
	width: 97px;
	background: white;
	position: absolute;
	left: 0; top: 46px;
	z-index: 10;
	border: 1px solid #efefef;
	border-top: 5px solid #A10000;
	display: none;
}
header #header #nav #naver ul li .li_hover li{
	height: 35px;
	line-height: 35px;
}
header #header #nav #naver ul li .li_hover li a:hover{
	color: #A10000;
}
/*header结束*/




/*section开始*/
section{
	width: 100%;
	border-bottom: 1px solid #3e3a39;
	/*background: lightskyblue;*/
}
#section{
	width: 1200px;
	margin: 0 auto;
	/*background: cornsilk;*/
	overflow: hidden;
}
#section .path{
	width: 1180px;
	height: 30px;
	padding-left: 20px;
	line-height: 30px;
	font-size: 12px;
	color: #333333;
}
#section .path a:nth-child(1):hover,#section .path a:nth-child(2):hover{
	color: #A10000;
}
#section .nav{
	width: 1200px;
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #e5e6e6;
}
#section .nav .nav_left{
	float: left;
	height: 45px;
}
#section .nav .nav_gwc{
	float: right;
	height: 45px;
	margin-left: 10px;
	display: none;
}
#section .nav .nav_gwc a{
	display: block;
	width: 168px;
	height: 33px;
	background: url(../img/FKsprite.png) -147px -285px no-repeat;
	margin-top: 6px;
}
#section .nav .nav_left h3{
	font-size: 18px;
	color: #333333;
	line-height: 45px;
	display: inline-block;
}
#section .nav .nav_left b{
	margin-left: 15px;
	display: inline-block;
	font-size: 14px;
	color: #a10000;
	line-height: 45px;
}
#section .nav .nav_right{
	float: right;
	height: 45px;
}
#section .nav .nav_right ul li{
	float: left;
	font-size: 14px;
	color: #808080;
	font-weight: bold;
}
#section .nav .nav_right ul li a{
	display: inline-block;
	line-height: 45px;
	padding: 0 12px;
	color: black;
}
#section .nav .nav_right ul li .nav_on{
	color: #b81b22;
}
#section .goodsinfo{
	width: 1200px;
	padding: 37px 0 50px 0;
	border-bottom: 1px solid #e5e6e6;
}
#section .goodsinfo:after{
	content: ''; height: 0; clear: both; overflow: hidden; 
	display: block; visibility: hidden;
}
#section .goodsinfo #imgList{
	width: 72px;
	height: 238px;
	float: left;
}
#section .goodsinfo #imgList li{
	width: 68px;
	height: 68px;
	margin: 1px;
	border: 1px solid #b4b4b4;
	background-color: white;
}
#section .goodsinfo #imgList li:nth-child(1){
	background-image: url(../img/fdj_1_L.jpg);
	background-size: 68px 68px;
}
#section .goodsinfo #imgList li:nth-child(2){
	margin: 11px 0;
	background-image: url(../img/fdj_2_L.jpg);
	background-size: 68px 68px;
}
#section .goodsinfo #imgList li:nth-child(3){
	background-image: url(../img/fdj_3_L.jpg);
	background-size: 68px 68px;
}
#section .goodsinfo #bigBox{
	width: 402px;
	height: 402px;
	margin: 0 80px;
	float: left;
	background-image: url(../img/fdj_1_L.jpg);
	background-size: 400px 400px;
	border: 1px solid #e5e6e6;
	position: relative;
}
#section .goodsinfo #bigBox #mirrorBox{
	position: absolute;
	width: 120px;
	height: 120px;
	background-color: pink;
	opacity: 0.5;
	display: none;
}
#section .goodsinfo #bigBox #showBox {
	position: absolute;
	left: 415px;
	top: -72px;
	width: 400px;
	height: 400px;
	border: 1px solid black;
	background: url(../img/fdj_1_L.jpg);
	background-size: 800px 800px;
	display: none;
	z-index: 100;
}
#section .goodsinfo .goodsAttr{
	width: 553px;
	float: left;
}
#section .goodsinfo .goodsAttr .thj{
	width: 553px;
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	color: #a10000;
}
#section .goodsinfo .goodsAttr .thj span{
	font-size: 20px;
}
#section .goodsinfo .goodsAttr .color{
	width: 553px;
	overflow: hidden;
	margin-top: 15px;
}
#section .goodsinfo .goodsAttr .color_word{
	width: 36px;
	height: 18px;
	font-size: 12px;
	line-height: 18px;
	color: #666666;
	float: left;
}
#section .goodsinfo .goodsAttr .tab{
	width: 517px;
	float: left;
}
#section .goodsinfo .goodsAttr .tab a{
	display: block; float: left;
	width: 91px; height: 36px;
	border: 1px solid #b4b4b4;
	margin: 0 8px 8px 0;
	padding: 2px;
}
#section .goodsinfo .goodsAttr .tab .color_on{
	border: 2px solid #A10000;
	padding: 1px;
}
#section .goodsinfo .goodsAttr .tab a img{
	width: 36px; height: 36px;
	float: left;
}
#section .goodsinfo .goodsAttr .tab a span{
	display: block;
	float: left;
	width: 49px;
	height: 36px;
	font-size: 12px; color: #666666;
	margin-left: 5px;
}
#section .goodsinfo .goodsAttr .size{
	width: 553px;
	height: 50px;
}
#section .goodsinfo .goodsAttr .size .size_word{
	width: 36px;
	height: 50px;
	font-size: 12px;
	line-height: 50px;
	color: #666666;
	float: left;
}
#section .goodsinfo .goodsAttr .size .size_con{
	width: 517px;
	height: 50px;
	line-height: 50px;
	float: left;
}
#section .goodsinfo .goodsAttr .size .size_choice a{
	display: block; float: left;
	height: 24px; border: 1px solid #c8c8c8; padding: 0 10px;
	font-size: 14px; color: #333333; margin-right: 5px;margin-top: 12px; line-height: 24px;
}
#section .goodsinfo .goodsAttr .size .size_choice .color_on{
	border: 1px solid #A10000;
}
#section .goodsinfo .goodsAttr .number{
	width: 553px;
	height: 38px;
}
#section .goodsinfo .goodsAttr .number .number_word{
	width: 36px;
	height: 38px;
	font-size: 12px;
	line-height: 38px;
	color: #666666;
	float: left;
}
#section .goodsinfo .goodsAttr .number .number_con{
	width: 517px;
	height: 38px;
	line-height: 38px;
	float: left;
	font-size: 12px;
	color: #A10000;
}
#section .goodsinfo .goodsAttr .number .number_con select{
	float: left;
	width: 51px;
	height: 18px;
	border: 1px solid #aaaaaa;
	margin-top: 11px;
	margin-right: 10px;
}
#section .goodsinfo .goodsAttr .checked{
	width: 553px;
	height: 35px;
}
#section .goodsinfo .goodsAttr .checked .checked_word{
	width: 36px;
	height: 35px;
	font-size: 12px;
	line-height: 35px;
	color: #666666;
	float: left;
}
#section .goodsinfo .goodsAttr .checked .checked_con{
	width: 517px;
	height: 35px;
	line-height: 35px;
	float: left;
	font-size: 12px;
	color: #666666;
}
#section .goodsinfo .goodsAttr .checked .checked_con b{
	color: #A10000; margin-left: 10px;
}
#section .goodsinfo .goodsAttr .buy_gwc{
	width: 553px;
	height: 50px;
	position: relative;
}
#section .goodsinfo .goodsAttr .buy_gwc .buy{
	background: #F7ABAF;
    width: 166px;   height: 31px;
    display: block;  float: left;
    margin-right: 13px;
    border: solid 1px #b71b21;
    font-size: 14px;  color: #a50309;
    line-height: 31px;  text-align: center;
    margin-top: 8px;
}
#section .goodsinfo .goodsAttr .buy_gwc .gwc{
	background: url(../img/FKsprite.png) -147px -285px;
    width: 168px;
    height: 33px;
    display: block;
    margin-top: 8px;
    float: left;
}    
#add_success{
	width: 498px;
	height: 365px;
	border: 1px solid #b81c22;
	position: absolute;
	left: 600px;
	top: 200px;
	z-index: 200;
	display: none;
}
#add_success .add_success_head{
	width: 434px;
	height: 42px;
	background: #b81c22;
	padding: 0 32px;
	font-size: 16px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#add_success .add_success_head span:nth-child(2){
	width: 14px;
	height: 14px;
	background: url(../img/FKsprite.png) -369px -113px;
}
#add_success .add_success_con{
	width: 442px;
	height: 273px;
	background: white;
	padding: 20px 28px 30px;
}
#add_success .add_success_con .showAttr{
	width: 442px; height: 95px; background: white; border-bottom: 1px dotted #737171;
	display: flex; justify-content: space-between;
}
#add_success .add_success_con .showAttr .lefts{
	width: 200px; height: 74px; 
	display: flex; align-items: center; justify-content: space-between;
}
#add_success .add_success_con .showAttr .lefts .gwc_img{
	width: 74px; height: 74px; background: url(../img/FKsprite.png) -232px -119px;
}
#add_success .add_success_con .showAttr .lefts .line{
	width: 1px; height: 36px; background: #A10000;
}
#add_success .add_success_con .showAttr .lefts .attr{
	width: 90px; height: 74px; font-size: #000000; color: black; margin-top: 35px;
}
#add_success .add_success_con .showAttr .lefts .attr p{
	font-size: 14px; color: black; 
}
#add_success .add_success_con .showAttr .lefts .attr b{
	color: #b91c22; font-weight: normal;
}
#add_success .add_success_con .showAttr .rights{
	width: 166px; height: 74px;
	display: flex; align-items: center; justify-content: space-between;
}
#add_success .add_success_con .showAttr .rights .ljBuy{
	width: 82px; height: 32px; background: #efefef; font-size: 12px; color: #737171; 
	text-align: center; line-height: 32px; display: block;
}
#add_success .add_success_con .showAttr .rights .joinGwc{
	width: 84px; height: 32px; background: #b91c22; font-size: 12px; color: white; 
	text-align: center; line-height: 32px; display: block;
}

#add_success .add_success_con .tuijian{
	width: 442px; height: 177px; 
}
#add_success .add_success_con .tuijian .tj_tit{
	line-height: 32px;
	font-size: 12px; color: #9b9999;
}
#add_success .add_success_con .tuijian .tj_con{
	display: flex; justify-content: space-between;
	width: 442px; height: 177px;
}
#add_success .add_success_con .tuijian .tj_con .tj_con_list{
	width: 72px;
}
#add_success .add_success_con .tuijian .tj_con .tj_con_list img{
	width: 70px; height: 70px; border: 1px solid #b3b3b5;
}
#add_success .add_success_con .tuijian .tj_con .tj_con_list p{
	text-align: center; line-height: 16px; font-size: 12px; color: #323232;
}
#add_success .add_success_con .tuijian .tj_con .tj_con_list b{
	text-align: center; line-height: 16px; font-size: 12px; color: #a20001;
	font-weight: normal; display: block;
}

#section .goodsinfo .goodsAttr .yhts{
	width: 400px; height: 46px; border-bottom: 1px solid #a20000; position: relative;
	margin-top: 12px; border-top: 1px solid #a20000;
}
#section .goodsinfo .goodsAttr .yhts h3{
	width: 68px; color: #A10000; height: 20px; font-size: 14px; background: white;
	position: absolute; left: 167px; top: -10px; text-align: center;
}
#section .goodsinfo .goodsAttr .yhts .yhts_con{
	width: 400px; height: 46px; line-height: 46px;
}
#section .goodsinfo .goodsAttr .yhts .yhts_con span{
	width: 34px; height: 16px; background: #A10000; font-size: 12px;
	color: white; padding: 2px 5px;
	
}
#section .goodsinfo .goodsAttr .yhts .yhts_con b{
	font-weight: normal; font-size: 12px; color: #666666; margin-left: 5px;
}
#section #mtdp{
	width: 100%;
}
#section #mtdp .mtdp_con img{
	display: block;
}
#section .area{
	width: 1200px;
	padding: 35px 0 60px 0;
}
#section .area h3{
	font-size: 12px;
	color: #999999;
}
#section .area ul li{
	font-size: 12px;
	color: #a10000;
	width: 1200px;
	height: 40px;
	line-height: 40px;
	background: #f9f9f9;
	text-indent: 15px;
}
#section .area ul li a{
	color: #999999;
}

#section .help{
	border: 1px solid #e0e0e1;
	margin: 0 0 25px 0;
	padding: 32px 40px;
}
#section .help .top{
	display: flex;
	height: 138px;
}
#section .help .top .left,#section .help .top .left a{
	display: block;
	width: 372px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#section .help .top .left a img{
	display: block;
	width: 42px;
	height: 42px;
	margin : 15px 0 32px 0;
}
#section .help .top .left a span{
	display: block;
	width: 156px;
	height: 32px;
	background: #b81c22;
	line-height: 32px;
	font-size: 14px;
	color: white;
	text-align: center;
}
#section .help .top .center,#section .help .top .center a{
	display: block;
	width: 372px;
	border-left: 1px solid #e0e0e1;
	border-right: 1px solid #e0e0e1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#section .help .top .center a img{
	display: block;
	width: 38px;
	height: 38px;
	margin: 20px 0 19px 0;
}
#section .help .top .center a p{
	text-align: center;
	font-size: 14px;
	color: #727171;
	line-height: 26px;
}
#section .help .top .right{
	width: 372px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 14px;
	color: #727171;
}
#section .help .top .right img{
	display: block;
	width: 100px;
	height: 100px;
	margin-bottom: 18px;
}
#section .help .bottom{
	height: 57px;
	line-height: 57px;
	margin-top: 23px;
	background: #f8f8f8;
}
#section .help .bottom li{
	float: left;
	font-size: 12px;
	display: flex;
	align-items: center;
}
#section .help .bottom li a{
	display: block;
	height: 57px;
	color: #575757;
	padding: 0 65px;
}
#section .help .bottom span{
	display: block;
	width: 1px;
	height: 26px;
	background: #dadadb;
}
/*section结束*/



/*footer开始*/
footer{
	width: 100%;
	height: ;
	background: white;
	padding: 9px 0 25px 0;
}
footer #foot_top{
	width: 1200px;
	line-height: 25px;
	margin: 0 auto;
	font-size: 12px;
	color: #625e5e;
	text-align: center;
	margin-bottom: 30px;
}
footer #foot_bot{
	width: 1200px;
	height: 45px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
footer #foot_bot a{
	display: block;
	background: url(../img/spritesbgtop.png) no-repeat;
	margin-right: 20px;
}
footer #foot_bot a:nth-child(1){
	width: 112px;
	height: 40px;
	background-position: 0px -582px;
}
footer #foot_bot a:nth-child(2){
	width: 156px;
	height: 45px;
	background-position: 0px -629px;
}
footer #foot_bot a:nth-child(3){
	width: 96px;
	height: 42px;
	background-position:  0px -675px;
}
footer #foot_bot a:nth-child(4){
	width: 101px;
	height: 42px;
	background-position:  -97px -675px;
}
footer #foot_bot a:nth-child(5){
	width: 42px;
	height: 42px;
	background-position: -202px -675px;
}
footer #foot_bot a:nth-child(6){
	width: 120px;
	height: 42px;
	background: url(../img/cctv.png) no-repeat;
	background-size: 120px 42px;
}
/*footer结束*/